:root{
    --fuentePrincipal:'Lato', sans-serif;
    --primario:#da595e;
    --oscuro:#484848;
    --claro:#ffffff;
    --hospedaje:#275154;
    --concierto:#da595e;
    --clase:#598dda;
    --paseo:#940ad4;
}
html{
    box-sizing: border-box;
}
body{
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 2.6rem;
    font-weight: 400;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
.boton{
    background-color: var(--claro);
    display: block;
    padding: 1rem;
    color:var(--oscuro);
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 13px 19px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 13px 19px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 13px 19px -10px rgba(0,0,0,0.75);
    transition: all .3s ease-in-out;
}
.boton:hover{
    background-color: var(--primario);
    color:var(--claro);
}
/* colores */
.hospedaje{
    color:var(--hospedaje);
}
.concierto{
    color:var(--concierto);
}
.clase{
    color:var(--clase);
}
.paseo{
    color:var(--paseo);
}
/* interfaz */
.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}
.hero{
    height: 100vh;
    background-image: url(../img/arriba.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-self: start;
    padding-top: 1rem;
}
.navegacion a{
    color:var(--claro);
    text-decoration: none;
    margin-right: 1rem;
}
.navegacion a:last-of-type{
    margin-right: 0;
}
.contenido-hero{
    display:grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: max-content auto;
}
.contenido-hero h1{
    grid-column: 2/3;
    color:var(--claro);
}
.contenido-hero form{
    grid-column: 2/3;
    grid-row: 2/3;
    position:relative;
    display:flex;
    height: 4rem;
}
form input[type="text"]{
    flex:1;
    border: none;
    border-radius: 10px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: calc(1% + 1rem) calc(1% + .8rem);
    padding-left: 5rem;
    font-size: 1.6rem;
}
form input[type="submit"]{
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    padding: 0.7rem 2rem;
    border:none;
    background-color: var(--primario);
    color:var(--claro);
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 1.2rem;
}
form input[type="submit"]:hover{
    cursor:pointer;
}
/* contenido  principal*/
.contenedor-cards{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 1rem;
}
.card img{
    width: 100%;
}
.info .categoria{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
}
.info .titulo{
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0;
}
.info .precio{
    color:var(--oscuro);
    font-size: 0.9rem;
}
/* Premium */
.premium{
    background-image: url(../img/hospedaje-pro.jpg);
    background-repeat: no-repeat;
    grid-template-columns: unset;
    height: 30rem;
}
@media (min-width: 768px) {
    .premium{
        grid-template-columns: auto 30%;
    }
    .premium .info{
        grid-column: 2/3;
    }
}
.premium .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.premium .info h3{
    text-align: center;
    font-size: 2.2rem;
    color:var(--claro);
}
@media (min-width: 768px) {
    .premium .info h3{
        text-align: right;
        color:var(--oscuro);
    }
}
/* Destinos populares */
.destinos .contenedor-cards{
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.destinos .card{
    position: relative;
}
.destinos .info{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.destinos .info .titulo{
    font-size: 1.8rem;
    color:var(--claro);
}